* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

:root {
  --primary: #ff551a;

  --primary-text: #212121;
  --secondary-text: #62748e;

  --light: #fff;
}

.margin-y {
  margin: 100px 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

section {
  padding: 0 1rem;
}

#welcome-message {
  text-align: center;
}

.sub-heading {
  display: block;
  margin-bottom: 0.3rem;

  color: var(--secondary-text);
}

.heading {
  font-size: 1.5rem;
  color: var(--primary-text);
}

.lines {
  margin: 1.4rem 0;
}

.lines .black-line {
  position: relative;

  background-color: var(--primary-text);
  height: 1px;
  width: 16rem;
}

.lines .orange-line {
  position: absolute;
  left: 50%;
  top: -0.6rem;

  background-color: var(--primary);
  width: 0.2rem;
  height: 1.2rem;
}

#welcome-message p {
  color: var(--secondary-text);
  margin: 1rem auto;

  max-width: 1000px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: center;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1.5px solid var(--primary);
  border-radius: 1rem;
}

.btn-white {
  background-color: var(--light);
  color: var(--primary-text);
}

.btn-orange {
  background-color: var(--primary);
  color: var(--light);
}

/* statistics */

#statistics .description {
  max-width: 50rem;
  color: var(--secondary-text);
}

#statistics .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-lines {
  position: relative;

  height: 530px;
  width: 390px;
}

.image-lines img {
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 4px solid red */
}

.image-lines .box {
  position: absolute;
  bottom: 0;
  right: 0;

  height: 91%;
  width: 88%;
  border: 4px solid white;
  border-right: 0px;
  border-bottom: 0px;
}

#contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 1px solid black;
}

#contact-form input:focus {
  outline: transparent;
  border: 1px solid var(--secondary-text);
}

form {
  width: 35rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#contact #contact-form button {
  display: block;
  margin-top: 0.7rem;
}

#contact-form .error {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: red;
  margin-top: -12px;
}

@media screen and (min-width: 768px) {
  .buttons-container {
    flex-direction: row;
  }

  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .image-lines img {
    display: inline;
  }

  #statistics {
    display: flex;
    justify-content: center;
  }
}
